a {
	color: $accent;
	transition: color .3s;
}
input, select {
	border-style: solid;
	border-width: 1px;
	border-color: $light-grey;
	border-radius: 0;
}
.wysiwyg {
		width: 100%;
		margin: 0 auto;
		font-size: em(18);
		color: $copy-grey;
		letter-spacing: 0.025em;
		h1, h2, h3, h4, h5, h6, a {
			color: $dark-red;
			margin-top: 0;
			letter-spacing: 0;
		}
		h1 {
			font-size: $font-xl;
		}
		h2 {
			font-size: $font-large;
			margin-bottom: em(5);
		}
		h3 {
			font-size: em(24);
			margin-bottom: em(5);
		}
		h4, h5, h6 {
			font-size: $font-copy;
		}
		a {
			transition: color .3s;
			&:hover {
				color: $copy-grey;
			}
		}
		h3, h4 {

			font-weight: $font-regular;
		}
		h5, h6 {

		}
		p, ul {
			font-size: em(18);
			margin-bottom: em(25);
			color: $copy-grey;
			letter-spacing: 0.025em;
		}
		strong, b {
			font-weight: $font-bold;
		}
		img {
			width: 100%;
			display: block;
			height: auto;
			margin-bottom: em(40);
		}
		:last-child {
			margin-bottom: 0;
		}
	@media (max-width: $bp-laptop) {
		font-size: 90%;
	}
}