.cart-contents {
    @media (max-width: $bp-desktop) {
        display: flex !important;
        align-items: center;

    }
}
.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
    @media (max-width: $bp-desktop) {
        margin-top: 0;
        padding-right: 10px;
    }
}
.cart-contents:after {
    content: 'My Cart';
    display: none;
    @media (max-width: $bp-desktop) {
        display: inline;
    }
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: $accent;
    background-color: white;
    font-weight: bold;
    border-radius: 10px !important;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 11px;
    @media (max-width: $bp-desktop) {
      bottom: 0;
      bottom: 0;
      margin: auto;
      right: 20px;
    }
}
.nav-cart {
    margin-left: 10px;
    position: relative;
    @media (max-width: $bp-desktop) {
        margin-left: 0 !important;
    }
}
.woocommerce td a {
    color: $primary;
    text-decoration: none !important;
}
.woocommerce .product-remove a {
    width: 10px !important;
    &:hover {
        background: transparent !important;
        color: $copy-grey !important;
    }
}
.woocommerce table.shop_table {
    border-radius: 0!important;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background: $accent!important;
    transition: background .3s!important;
    border-radius: 0!important;
    font-family: $font-family !important;
    &:hover {
        background: $primary!important;
    }
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    padding: 10px !important;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    border-radius: 0 !important;
    background: #f4f4f4 !important;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    border-radius: 0 !important;
}.woocommerce table,
.woocommerce div,
.woocommerce form,
address {
    border-radius: 0 !important;
}
address {
    border: solid 1px rgba(0,0,0,.1) !important;
}
.product-remove {
    width: 10px;
}
.product-thumbnail {
    width: 70px;
}
.cart_totals h2,
.woocommerce-order-details__title,
.woocommerce-column__title {
    margin-bottom: 20px;
}
.coupon input {
    height: 36px;
    font-size: 16px;
}
.coupon #coupon_code {
    width: 200px;
    @media (max-width: $bp-tablet) {
        width: 48%;
    }
}
.woocommerce-thankyou-order-received {
    background: lighten(#f4f4f4, 1%);
    border: solid 1px green;
    padding: 15px;
    margin-bottom: 25px;
}
.woocommerce .product-remove a.remove:hover {
    color: $copy-grey !important;
}
div.wcppec-checkout-buttons__separator {
    display: none;
}
a.checkout-button.button.alt.wc-forward {
    display: none;
}
a.shipping-calculator-button {
    color: $primary;
}
.wholesale_international a.checkout-button.button.alt.wc-forward {
    display: block !important;
}
.wholesale_international .shipping-calculator-button {
    display: none !important;
}